@import 'fonts.less';

/* --MIXINS & VARIABLES-- */

@white: #ffffff;
@red: #ff0000;
@light-gray: #f4f4f4;
@gray: #e6e6e6;
@dark-gray: #333333;
@link-color: rgba(0,0,0,0.5);

.custom-btn(@pad-tb, @pad-lr, @bord-col, @bg-col) {
  display: block;
  cursor:pointer;
  border: 2px solid @bord-col;
  padding: @pad-tb @pad-lr;
  background-color: @bg-col;
  font-weight: bold;
  text-align: center;
  color: @white;
  transition: background-color 0.2s;
  text-decoration: none;
  &:hover,  &:focus {
    background-color: @white;
    color: @red;
    text-decoration: none;
  }
  &:active {
    color: @dark-gray;
  }
}

.icon(@cont, @left, @btm, @f-size){
  content:@cont;
  font-family: 'FontAwesome', sans-serif;
  left:@left;
  position:relative;
  bottom:@btm;
  font-size: @f-size;
  line-height: @f-size;
  cursor: pointer;
}

/* --PAGE START-- */

html {
  height: 100%;
}

body {
  padding-top: 2.5em;
  overflow-x: hidden;
  background-color: @light-gray;
  font-family: "Open Sans", sans-serif;
  display:flex;
  flex-direction: column;
  height: 100vh;
}

/* --NAVIGATION-- */

nav {
  background-color: @white;
}

.nav-item {
  height:40px;
}

.username {
  vertical-align:top;
  &::before {
    .icon('\f007', -0.2rem, 0.3rem, 1.7rem);
  }
  &::after {
    .icon('\f0dd', 0.5rem, 0.5rem, 1.7rem);
  }
}

.login {
  .custom-btn(0.5rem, 2.5rem, @red, @red);
  margin-left: 2rem;
}

.login-collapse {
  padding:0.5rem;
  color: @link-color;
  &:hover {
    color: rgba(0,0,0,0.7);
  }
}

.logicon {
  .login-collapse;
  &::before {
    .icon('\f090', 0rem, 0.2rem, 2rem);
  }
}

/* --MAIN CONTENT-- */

main {
  flex: 1 0 auto;
}

/* Sidebar styles */

.sidebar {
  position: sticky;
  background-color: @gray;
  padding: 3rem 1.5rem;
  height: 70%;
  top: 3rem;
}

.sidebar-nav {
  .custom-btn(2rem, .5rem, @dark-gray, @dark-gray);
  margin-bottom: 1rem;
}

.active-nav {
  background-color: @white;
  border-color: @red;
  color: @red;
  cursor: default;
}

.main-content {
  width: 100%;
  padding: 4rem 2rem;
}

/* Page header styles */

.page-name {
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}

.about-page-name {
  font-size: 0rem;
  & > * {
    display: inline-block;
  }
  & h1 {
    font-size: 4rem;
    vertical-align: middle;
    @media screen and (max-width: 1167px) {
      display: block;
      text-align: center;
    }
  }
  & img {
    margin-left: 2rem;
    @media screen and (max-width: 1167px) {
      display: none;
    }
  }
}

.create-survey {
  .custom-btn(0.5rem, .5rem, @red, @red);
  vertical-align: middle;
  font-size: 0.7rem;
  display: inline;
  margin-left: 1rem;
  @media screen and (max-width: 430px) {
    display:block;
    width: 10em;
    margin: 0.4rem auto;
  }
}

/* Search form styles */

.btn {
  cursor: pointer;
}

.input-group {
  width: 300px;
}

/* Tabs styles */

.nav-tabs {
  font-size: .9em;
  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
  text-align: center;
}

.nav-tab-item {
  & .nav-link {
    color: @dark-gray;
  }
  & .nav-link:hover {
    background-color: @white;
    color: @red;
  }
  & .active {
    background-color: @red !important;
    color: @white !important;
  }
}

.tab-pane {
  padding: 1.5rem;
  & > * {
    display: inline-block;
    vertical-align: top;
  }
  & img {
    margin-right: 0.5em;
  }
  & p {
    width: 70%;
    display: inline-block;
  }
  @media screen and (max-width: 1100px) {
    & > * {
      display: block;
    }
    & p {
      width: 100%;
    }
    & img {
      margin: 0 auto 1.5rem;
    }
  }
}

/* Table styles */

table {
  text-align: center;
  @media screen and (max-width: 780px) {
    overflow-x: auto;
    display: block;
  }
}

th {
  text-align: center;
  background-color: @gray;
}

.sort-column {
  &::after {
    .icon('\f0dd', 0.5rem, 0.1rem, 1rem);
  }
}

.action {
  text-align: center;
  & > * {
    cursor: pointer;
    margin-left: .2rem;
  }
}

.table-footer {
  text-align: left;
  background-color: @gray;
}

.paginate {
  text-align: center;
  &::before {
    .icon('\f053', -0.5rem, 0rem, 1.5rem);
  }
  &::after {
    .icon('\f054', 0rem, 0rem, 1.5rem);
    right:-.5rem;
  }
}

/* Templates styles */

.available-templates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.template {
  border: 1px solid @gray;
  background-color: @white;
  padding: 1rem;
  max-width: 450px;
  margin: 0 auto 2em;
  & h2 {
    width: 100%;
    text-align: center;
  }
  & .create-survey {
    display: block;
    max-width: 10rem;
    min-width: 5rem;
    margin: 0 auto;
  }
  &:hover {
    box-shadow:inset 0em 0em 0em .4em @gray;
    cursor: pointer;
  }
}

#active-template {
  display: none;
  text-align: right;
  & i {
    &:hover {
     color: @gray;
    }
  }
}

.question-number, .page-number {
  display: inline-block;
  margin-right: 1rem;
}

/* Login/Register forms styles */

.login-form {
  width: 80%;
  padding: 1.7rem 1.5rem;
  border:1px solid @gray;
  @media screen and (min-width: 1000px) {
      width: 50%;
    }
  & > * {
    margin-bottom: 2.5rem;
  }
}

.login-form-heading {
  text-align: center;
}

.login-form-btn {
  .custom-btn(0.5rem, 2.5rem, @red, @red);
  margin: 0 auto;
}

/* --FOOTER-- */

footer {
  margin-top: 1rem;
  color: @light-gray;
  text-align: center;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  background-color: @dark-gray;
}

