@import 'fonts.less';

@white: #ffffff;
@red: #ff0000;
@light-gray: #f4f4f4;
@gray: #e6e6e6;
@dark-gray: #333333;
@link-color: rgba(0,0,0,0.5);

.custom-btn(@pad-tb, @pad-lr, @bord-col, @bg-col) {
  display: block;
  cursor:pointer;
  border: 2px solid @bord-col;
  padding: @pad-tb @pad-lr;
  background-color: @bg-col;
  font-weight: bold;
  text-align: center;
  color: @white;
  transition: background-color 0.2s;
  text-decoration: none;
  &:hover,  &:focus {
    background-color: @white;
    color: @red;
    text-decoration: none;
  }
  &:active {
    color: @dark-gray;
  }
}

.icon(@cont, @left, @btm, @f-size){
  content:@cont;
  font-family: 'FontAwesome', sans-serif;
  left:@left;
  position:relative;
  bottom:@btm;
  font-size: @f-size;
  line-height: @f-size;
  cursor: pointer;
}

body {
  padding-top: 2.5em;
  background-color: @light-gray;
  font-family: "Open Sans", sans-serif;
  display:flex;
  flex-direction: column;
}

nav {
  background-color: @white;
}

.nav-item {
  height:40px;
}

.username {
  vertical-align:top;
  &::before {
    .icon('\f007', -0.2rem, 0.3rem, 1.7rem);
  }
  &::after {
    .icon('\f0dd', 0.5rem, 0.5rem, 1.7rem);
  }
}

.login {
  .custom-btn(0.5rem, 2.5rem, @red, @red);
  margin-left: 2rem;
}

.login-collapse {
  padding:0.5rem;
  color: @link-color;
  &:hover {
    color: rgba(0,0,0,0.7);
  }
}

.logicon {
  .login-collapse;
  &::before {
    .icon('\f090', 0rem, 0.2rem, 2rem);
  }
}

main {
  height:100%;
  flex: 1;
}

.sidebar {
  background-color: @gray;
  padding: 3rem 1.5rem;
  height: 70%;
}

.sidebar-nav {
  .custom-btn(2rem, 2.5rem, @dark-gray, @dark-gray);
  margin-bottom: 1rem;
}

.active-nav {
  background-color: @white;
  border-color: @red;
  color: @red;
  cursor: default;
}

.main-content {
  width: 100%;
  padding: 4rem 2rem;
}

.create-survey {
  .custom-btn(0.5rem, .5rem, @red, @red);
  vertical-align: middle;
  font-size: 0.7rem;
  display: inline;
  margin-left: 1rem;
}

.btn {
  cursor: pointer;
}

.input-group {
  width: 300px;
}

.page-name {
  margin-bottom: 2rem;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}

table {
  text-align: center;
  @media screen and (max-width: 640px) {
    overflow-x: auto;
    display: block;
  }
}

th {
  text-align: center;
  background-color: @gray;
}

.sort-column {
  &::after {
    .icon('\f0dd', 0.5rem, 0.1rem, 1rem);
  }
}

.action {
  text-align: center;
  & > * {
    cursor: pointer;
    margin-left: .2rem;
  }
}

.table-footer {
  text-align: left;
  background-color: @gray;
}

.paginate {
  text-align: center;
  &::before {
    .icon('\f053', -0.5rem, 0rem, 1.5rem);
  }
  &::after {
    .icon('\f054', 0rem, 0rem, 1.5rem);
    right:-.5rem;
  }
}

.login-form {
  width: 80%;
  padding: 1.7rem 1.5rem;
  border:1px solid @gray;
  @media screen and (min-width: 1000px) {
      width: 50%;
    }
  & > * {
    margin-bottom: 2.5rem;
  }
}

.login-form-heading {
  text-align: center;
}

.login-form-btn {
  .custom-btn(0.5rem, 2.5rem, @red, @red);
  margin: 0 auto;
}

footer {
  color: @light-gray;
  text-align: center;
  padding: 1rem;
  background-color: @dark-gray;
}

